/**
 * Variables
*/

/* Typography */
$font-default: 'Open Sans', sans-serif;

/* Colour palette */
$black: #000;
$white: #fff;

$color_light-blue: #f7f9fb;
$color_default: #272727;
$color_gray: #7d7c83;
$color_orange: #f49e4c;
$color_dark-orange: #e06d00;
$color_red: #eb5757;
$color_blue: #118ab2;
$color_green: #4bb543;

$webpack_blue: #8ed5fa;
$npm_red: #cc3534;
$js_yellow: #f0db4f;
$html_orange: #f16529;
